html
    head
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css", rel="stylesheet")
        block head
    body
        ul.nav
            li.nav-item
                a.nav-link.active(href='#') Active
            li.nav-item
                a.nav-link(href='#') Link
            li.nav-item
                a.nav-link(href='#') Link
            li.nav-item
                a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true') Disabled
            if (user)
                p=user.name
        block content
        
    