html
    head
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns' crossorigin='anonymous')
        
        block head
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='#') PetPam
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='../home')
                            | Home 
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='../Products') Pet
                    li.nav-item
                        a.nav-link(href='../Users') User
                    li.nav-item.dropdown
                        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Select
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='#') Husky
                            a.dropdown-item(href='#') Pitbull
                            .dropdown-divider
                            a.dropdown-item(href='#') Tam thể
                            a.dropdown-item(href='#') Không lông
                form.form-inline.my-2.my-lg-0
                    input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
                    button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

        block content
        
    